@font-face {
  font-family: "favela";
  src: url(../fonts/EDOSZ.TTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "favela", sans-serif;
}

.navbar {
  font-family: "favela", sans-serif;
}
