@font-face {
  font-family: "favela";
  src: url(../../public/fonts/EDOSZ.TTF) format("truetype");
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "favela", sans-serif;
  color: white;
  caret-color: white;
}

.navbar {
  font-family: "favela", sans-serif;
}
